.loginform {
  background-color: "white";
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
}
.form-body {
  text-align: left;
  padding: 20px 10px;
}
.form-body > * {
  padding: 5px;
  display: flex;
}
.form__label {
  width: 30%;
}
.form_input {
  width: 70%;
}
.footer {
  text-align: center;
}
.error_name {
  text-align: center;
  color: red;
}
.error_label {
  text-align: center;
}
