/* body {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to left, #080309, #a9a2aa);
  background: linear-gradient(to left, #080309, #a9a2aa);
} */
* {
  box-sizing: border-box;
}
.form__label {
  width: 30%;
}
.form_input {
  width: 50%;
}
.footer {
  text-align: center;
  margin-top: 15px;
}
.error_name {
  text-align: center;
  /* margin-top: 5px; */
  color: red;
}
.error_label {
  text-align: center;
}
.show_details {
  display: flex;
  border-width: 15vw;
  border-color: #2c3e50;
}
.show_labeldetails {
  font-size: large;
  color: rgb(172, 220, 220);
}
.sideImage {
  width: 100%;
  height: 100%;
}
.rowRegister {
  display: flex;
  flex: 1;
}
.col-1 {
  flex: 1;
  background-color: white;
}
@media screen and (max-width: 767px) {
}
