.form {
  margin: 20px auto;
  padding: 20px;
}
.form-body {
  text-align: left;
  padding: 20px 10px;
}
.form-body > * {
  padding: 5px;
  display: flex;
}
.showButton {
  text-align: center;
  margin-top: 15px;
}
