* {
  box-sizing: border-box;
}
.form {
  margin: 20px auto;
  padding: 20px;
}
.form-body {
  text-align: left;
  padding: 20px 10px;
}
.form-body > * {
  padding: 5px;
  display: flex;
}
.showButton {
  text-align: center;
  margin-top: 15px;
}
.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 10px;
}
.col-2 {
  flex: 1;
  margin-right: 20px;
}
.col-chart {
  flex: 1;
  margin-right: 20px;
  display: flex;
}
.card {
  word-wrap: break-word;
}
.card-header {
  background-color: transparent;
  padding: 0.75rem 1.25rem;
  position: relative;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  margin-top: 20px;
}
.card-title {
  font-size: 1.8rem;
  font-weight: 400;
}
.text-card-header {
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
  flex: 1;
  align-self: center;
}
.text-center {
  font-size: 1.1rem;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .col-2 {
    margin-top: 10px;
  }
}
@media (min-width: 576px) {
  .row {
    flex-direction: row;
  }
}
